{% extends "layouts.app" %}

    {% block navbar %}

    {% endblock %}

    {% block footer %}

    {% endblock %}


{% block content %}

    <div class="bg-light window-height" data-turbolinks="false">

        <div class="container-fluid" id="payment-main-outer">
            <div method="POST" class="mx-auto payment-form" id="payment-main" style="max-width: 960px;">

                {{ form_token() }}
                {{ form_hidden('plan_id', 0) }}

                <div class="row mt-3 pt-5">

                    <div class="col-12  text-center " style="">

                        <h2>{{ __("Subscribe to a plan") }}</h2>

                        {% if listing %}
                            <a href="{{ route('create.edit', {'listing': listing}) }}"><i class="fa fa-angle-double-left" aria-hidden="true"></i> {{ __("Back to listing") }}</a>
                        {%  else %}
                            <a href="{{ route('account.listings.index') }}"><i class="fa fa-angle-double-left" aria-hidden="true"></i> {{ __("Back to my listings") }}</a>
                        {%  endif %}

                        {% include 'notifications' %}

                        <div class="card-deck mt-5 mb-3 text-center">

                            {% for plan in plans %}
                            <div class="card mb-4 box-shadow {% if selected_plan.id == plan.id %}bg-light{% endif %}">
                                <div class="card-header">
                                    <h4 class="my-0 font-weight-normal">{{ plan.name }}</h4>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title">{{ format_money(plan.price, setting('currency')) }} <small class="text-muted">/{{ plan.interval }}</small></h1>
                                    <span style="visibility: {{ (plan.id == selected_plan.id)?'visibility':'hidden' }}" class="badge badge-success">{{ __("active") }}</span>

                                </div>
                                    <ul class="list-group list-group-flush">
                                        {% for feature in plan.features.sortBy('sort_order')  %}
                                            <li class="list-group-item">{{ feature.value }} {{ options[feature.code] }}</li>
                                        {% endfor %}
                                    </ul>
                                <div class="card-body card-footer">

                                    {% if plan.id == selected_plan.id and not next_plan %}
                                        <button type="button"
                                                disabled
                                                class=" btn btn-lg btn-block btn-secondary disabled">
                                            {{ __("Renews in :days days", {'days' :days_remaining}) }}
                                        </button>
                                    {% elseif plan.id == next_plan.id %}
                                        <button type="button"
                                                disabled
                                                class=" btn btn-lg btn-block btn-secondary disabled">
                                            {{ __("Starts in :days days", {'days' :days_remaining}) }}
                                        </button>
                                    {%  else %}
                                        {{ _self.stripe_btn(selected_plan, plan, _context) }}
                                    {%  endif %}

                                </div>

                            </div>
                            {% endfor %}


                        </div>

                    </div>
                </div>

                {% if module_enabled('listingfee') and listing and selected_plan and selected_plan.price <= 0 %}
                <div class="row mt-3 pt-5">
                    <div class="col-12  text-center " style="">
                        <a href="{{ route('addons.listingfee.payment', {'listing':listing}) }}">{{ __("Not a business/trader? Use pay per listing payments instead.") }}</a>
                    </div>
                </div>
                {% endif %}

            </div>
        </div>
    </div>

</div>

    <script>
        var handler = StripeCheckout.configure({
            key: "{{ config('marketplace.stripe_publishable_key') }}",
            image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
            locale: 'auto',
            token: function(token) {
                HoldOn.open({
                    theme: "sk-falding-circle",
                    message: '{{ __("Please wait...") }}',
                    backgroundColor: "#000",
                    textColor: "white"
                });

                var params = {token: token, email: token.email, card: token.card, plan_id: $(".payment-form input[name='plan_id']").val()};

                $.ajax({
                    type: "POST",
                    url: "{{ route('addons.memberships.stripe.confirmation') }}",
                    data: params,
                    success: function (result) {
                        window.location.href = result.url;
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        HoldOn.close();
                        alertify.alert(errorThrown);
                    },
                    dataType: 'json'
                });
            }
        });

        $(document).on('click', '.paypal-btn', function(e) {
            HoldOn.open({
                theme: "sk-fading-circle",
                message: '{{ __("Please wait...") }}',
                backgroundColor: "#000",
                textColor: "white"
            });
        });

        $(document).on('click', '.checkout-btn', function(e) {
            e.preventDefault();
            $(".payment-form input[name='plan_id']").val($(this).data('plan'));
            handler.open({
                email: "{{ user.email }}",
                name: "{{ setting('site_title') }} {{ __('subscription') }}",
                description: $(this).data('description'),
                zipCode: true,
                panelLabel: "{{ __("Subscribe") }}",
                currency: '{{ setting('currency') }}',
                amount: parseFloat($(this).data('amount')).toFixed(2)
            });
        });

        window.addEventListener('popstate', function() {
            handler.close();
        });


    </script>


{% endblock %}


{% macro stripe_btn(selected_plan, plan, me) %}
    {% set route_name = (me.subscribed_user)?'addons.memberships.stripe.switch':'addons.memberships.stripe.subscribe' %}

    <form action="{{ route(route_name) }}" method="POST">
        {{ form_token() }}
        {{ form_hidden('plan_id', plan.id) }}

        {% if me.user.membership_stripe_subscription and me.current_gateway == 'stripe' %}
            <button type="submit"
                    name="new_plan"
                    value="{{ plan.id }}"
                    class="btn btn-lg btn-block btn-outline-primary">
                {{ __("Subscribe") }}
            </button>
        {% elseif not me.current_gateway %}
            <button type="button"
                    data-plan="{{ plan.id }}"
                    data-amount="{{ plan.price*100 }}"
                    data-name="{{ setting('site_title') }}"
                    data-description="{{ plan.name }}"
                    class="checkout-btn btn btn-lg btn-block btn-outline-primary">
                {{ __("Subscribe By Card") }}
            </button>
        {%  endif %}
    </form>

{% endmacro %}

{% macro paypal_btn(selected_plan, plan, me) %}
    {% set route_name = (me.subscribed_user)?'addons.memberships.paypal.switch':'addons.memberships.paypal.subscribe' %}

    <form action="{{ route(route_name) }}" method="POST" class="">
        {{ form_token() }}
        {{ form_hidden('plan_id', plan.id) }}

        {% if me.user.membership_paypal_subscription and me.current_gateway == 'paypal' %}
            <button type="submit" name="new_plan" value="{{ plan.id }}" class="btn btn-lg btn-block btn-outline-primary">
                {{ __("Subscribe") }}
            </button>
        {% elseif not me.current_gateway %}
            <a href="{{ route('addons.memberships.paypal.redirect', {'plan_id' : plan.id}) }}" class="btn paypal-btn mt-3 border-0" style="background: transparent; cursor:pointer;">
                <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_100x26.png" alt="PayPal" />
            </a>
        {%  endif %}
    </form>

{% endmacro %}